.git
.gradle
.*~
.#*~
build
.DS_Store
.classpath
.project
.settings
/bin
.metadata/*
.idea
*.iml
node_modules
dist
.tmp
.sass-cache
webapp/src/main/resources/static/bower_components
webapp/src/main/resources/static/dist
out
*.log