<div ng-controller="HistoryController" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <small>
                <div class="row">
                    <h4>Message History</h4>
                </div>
                <div class="row">
                    <span><input size="30" ng-model="state.searchString" placeholder="Enter SR/Order/LPN..." id="searchQuery"
                        ng-blur="refresh()"/></span>
                    <button type="button" class="btn btn-default btn-sm" aria-label="Refresh" ng-click="refresh()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"/>
                    </button>
                </div>
                <hr/>
                <div class="row">
                    <span><input size="30" ng-model="filterString" placeholder="Filter results..." id="historyFilter"/></span>
                </div>
                <div>
                    <pagination total-items="filteredHistory.length" class="pagination-sm"
                                items-per-page="historyPageConfig.itemsPerPage" ng-model="historyPageConfig.currentPage"
                                boundary-links="true"
                                max-size="20" previous-text="<" next-text=">" first-text="<<" last-text=">>">
                    </pagination>
                    <div>
                        <small>
                        <accordion>
                            <accordion-group ng-repeat="item in filteredHistory = (history | filter:filterString) | paginate:historyPageConfig">
                                <accordion-heading>
                                    <small>{{item.createdAt| date:'yyyy-MM-dd HH:mm:ss'}} - {{item.collection}}: {{item.summary}}</small>
                                </accordion-heading>
                                <pre><small>{{formatJson(item.message)}}</small></pre>
                            </accordion-group>
                        </accordion>
                        </small>
                    </div>
                </div>
            </small>
        </div>
    </div>
</div>
